.bg {
    background-image: linear-gradient(to left bottom, #2d2d30, #3a3a3f, #47484e, #55575e, #63666f, #676b77, #6c717e, #707686, #6c7286, #686f85, #646b85, #606784);
    height: 100vh;
    width: 100wv;   
}

.marginDiv {
    height: 1px;
    margin-bottom: 4%;
}