.textDiv {
    display: flex;

    .text {
        color: #f9f1a5;
        font-family: 'Roboto Mono', monospace;
        line-height: 1.5;
        padding: 0.5rem;
        padding-left: 0;
    }
}

.text {
    color: #ffff;
    font-family: 'Roboto Mono', monospace;
    line-height: 1.5;
    margin: 0;
}

.error {
    color: #ff0000;
    font-family: 'Roboto Mono', monospace;
    line-height: 1.5;
    margin: 0;
    padding: 0.5rem;
    padding-left: 1%;
}