.bg {
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.522);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10.9px);
    border: 1px solid rgba(0, 0, 0, 1);

    height: 75vh;
    width: 75%;
    margin: 0 auto;
    font-size: 100%;
    min-width: 500px;
    overflow:auto;
    overflow-x:hidden;
    overflow-y:visible;

    .container {
        //display items next to each other
        display: flex;
    }
}

.prompt {
    color: #00ff00;
    background: transparent;
    border: none;
    outline: none;
    font-family: 'Fira Code', monospace;
    width: 100%;
}