.about {
    background-color: #323647;
    h1 {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
        text-align: center;
        padding-top: 2%;
        margin-bottom: 5%;
        text-decoration: underline;
        color: #fff;
    }

    .text {
        font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: 1rem;
        text-align: center;
        margin-top: 5%;
        color: #fff;
        padding-bottom: 10%;
    }
}