//make the header class in middle of Particle component
.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    font-weight: bold;
    color: #000;
    text-shadow: #fff;
    text-align: center;
    letter-spacing: 0.1rem;
    z-index: 0;
}

.button {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, 530%);
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    text-shadow: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    z-index: 1;
}