//make the header class in middle of Particle component
.header {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    text-shadow: #000;
    text-align: center;
    letter-spacing: 0.1rem;
    z-index: 0;
}

.button {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 530%);
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    background-color: #fff;
    text-shadow: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    z-index: 1;
}

.buttonDown {
    position: absolute;
    top: 15%;
    left: 50%;
    width: 100px;
    height: 100px;
    transform: translate(-50%, 530%);
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    background-color: #fff;
    text-shadow: #000;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    z-index: 1;
    border-radius: 50%;


    .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3.5rem;
        font-weight: bold;
        color: #000;
        text-shadow: #000;
        text-align: center;
        letter-spacing: 0.1rem;
        z-index: 0;
    }

}


$breakpoint: 540px;
@media (max-width: $breakpoint) {
    .header {
        font-size: 2.2rem;
    }

    .buttonDown {
        top: 8%;
    }
}


$breakpoint: 378px;
@media (max-width: $breakpoint) {
    .button {
        top: 35%;
    }

    .header {
        font-size: 2rem;
    }

    .button {
        font-size: 1.2rem;
    }

    .buttonDown {
        top: 2%;
    }
}

$breakpoint: 359px;
@media (max-width: $breakpoint) {
    .button {
        top: 40%;
    }

    .header {
        font-size: 2rem;
    }

    .button {
        font-size: 1.2rem;
    }
}

$breakpoint: 320px;
@media (max-width: $breakpoint) {
    .button {
        top: 30%;
    }

    .header {
        font-size: 2rem;
    }

    .button {
        font-size: 1.2rem;
    }
}

$breakpoint: 303px;
@media (max-width: $breakpoint) {
    .button {
        top: 10%;
    }
}


$breakpoint: 650px;
@media (max-height: $breakpoint) {
    .header {
        font-size: 2rem;
    }
}
