.CardStyles {
    width: 18rem;
    text-align: center;
    margin: auto;
    margin-bottom: 10%;
    background-color: #232530;
    border-radius: 30px;

    p {
        color: #fff;
        font-size: 1rem;
        font-weight: bold;
        margin-top: 1%;
    }
}

.ContainerStyles {
    h1 {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 4%;
        text-align: center;
        padding-top: 10%;
        text-decoration: underline;
        color: #fff;
    }
}

$breakpoint: 300px;
@media (max-width: $breakpoint) {
    .CardStyles {
        width: 16rem;
    }
}