.experience {
    h1 {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
        text-align: center;
        margin-top: 2%;
        margin-bottom: 2%;
        text-decoration: underline;
    }

    .text {
        font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: 1rem;
        text-align: center;
        margin-top: 5%
    }
}

.image {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 1rem;
}

