.footer {
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    padding-top: 40px;
    color: #fff;
    margin-top: 5%;
}

.footerContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    h3 {
        font-size: 2.1rem;
        font-weight: 500;
        text-transform: capitalize;
        line-height: 3rem;   
    }

    p {
        max-width: 500px;
        margin: 10px auto;
        line-height: 28px;
        font-size: 14px;
        color: #cacdd2;
    }
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;

    li {
        margin: 0 10px;
    }
}

.socials a:hover {
    color: aqua;
}

.footerBottom{
    padding-bottom: 20px;
    text-align: center;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 1px;
    justify-content: center;

    p {
        font-size: 14px;
        word-spacing: 2px;
        text-transform: capitalize;


        a {
            color:#44bae8;
            font-size: 16px;
            text-decoration: none;
        }

     }
}