/* FONT IMPORTED */

/* Fira Sans */
@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

#container {
  width: 100%;
  display: inline-block;
}

.content {
  text-align: center;
}


.bootstrap_navbar {
  z-index: 100;
}