.WorkshopStyles {
    h1 {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
        text-align: center;
        margin-top: 5%;
        padding-top: 2%;
        margin-bottom: 5%;
        text-decoration: underline;
        color: #fff;
    }
}

